.gross_table{
    border-color: cornflowerblue;
    border-width: 10px;
    box-shadow: 1px 0px 10px 5px grey;
    border-collapse: collapse;
   
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gross_table tr:nth-child(even){
    background-color: #f2f2f2;
}

td {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    color: rgb(69, 143, 143);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

.menu {
    padding: 20px;
    letter-spacing: 2.5px;
    background-color: rgba(137, 43, 226, 0.568);
    border-radius: 10px;
}

.menu a {
    color: white;
    padding: 20px;
}

.menu a:hover{
    background-color: rgba(43, 226, 119, 0.589);
}

#header{
    height: 50px;
    background-color: rgba(137, 43, 226, 0.568);
}